form {
    width: 800px;
    margin: auto;
    margin-top: 40px;
}
#text-other-race {
    visibility: hidden;
}
.form-bg {
    border: 1px solid #ced4da;
}
body {
    background-image:url("images/simple.jpg");
    opacity: 0.75;
    color: white;
}
